<!DOCTYPE html>
<html>
<head>
	<title>HowItWorksadsf</title>
</head>
<body>
	{% extends "base.html" %}
    {% block content %}

    <h1> About Flask </h1>
    <p> Flask is a micro web framework written in Python.</p>
    <p> Applications that use the Flask framework include Pinterest,
      LinkedIn, and the community web page for Flask itself.</p>
		<h1> Our Project </h1>
		<p> We scraped economic data to predict changes in the stock market. Users are able to enter a stock
			and download a report generated for that stock based on our findings. </p> 

    {% endblock %}
</body>
</html>
